/**ul{
    background-color:black ;
    li{
        list-style: none;
    
        a{
            color: aqua;
         }
    }
}**/
/**.menu-list{
    background-color: red;
    &_item{
        list-style: none;
    }
    &_link{
        color: aqua;
        &:hover{
            color: blueviolet;
        }
    }
}**/
/**.className{
    color: red;
}
#idName{
    color: blue;
}
.mixin-class{
    .className();
}
#mixin-id{
    #idName();
}
.link(@color, @colorHover) {
    color: @color;
    &:hover{
        color: @colorHover;
    }
}
.link-active{
    .link(red, blue);
}**/
/**@pad1:20px;
@pad2:15px;
div{
    background-color: aqua;
    padding: if((@pad1 < @pad2), @pad1, @pad2);
}**/
.cell-1 {
  width: 15vw;
}
.cell-2 {
  width: 30vw;
}
.cell-3 {
  width: 45vw;
}
.cell-4 {
  width: 60vw;
}
div {
  background-color: #104c4c;
}
