.block{
    display: inline-block;
    width: 21%;
    height: 150px;
    line-height: 170%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 2%;
    border: 2px solid;
}
.block:first-of-type{
    background-color: chartreuse;
}
.block:nth-of-type(2){
    background-color: rgb(16, 30, 228);
}
.block:nth-of-type(3){
    background-color: rgba(25, 245, 197, 0.719);
}
.block:last-of-type{
    background-color: rgb(187, 21, 98);
}