div {
  font-size: 210%;
}
.one {
  background-color: #ffc0cb;
  color: #800080;
  padding: 14.17322835pt;
  margin: 5vw;
}
.two {
  color: #d4ff00;
  background-color: #b30000;
  width: 300px;
  height: 200px;
}
