h1{
    background-color: aquamarine;
    width: 30vw;
    color: #fff;
    animation: myAnime 10ms linear alternate infinite;
}
@keyframes myAnime{
    from{
        margin-left: 0px;
    }
    to{
        margin-left: 500px;
    }
}